@media screen and (orientation:landscape) {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(230, 241, 246);
  }

  header {
    position: fixed;
    top: 0%;
    left: 0%;
    height: fit-content;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(rgb(199, 155, 114), rgb(230, 241, 246));
    border-bottom: 1pt dashed rgb(0, 0, 0);
  }

  #title-position {
    height: fit-content;
    width: fit-content;
    margin-left: 8%;
  }

  h2 {
    display: inline;
    font-size: 2.2vw;
    font-family: cursive;
    float: left;
    -webkit-text-stroke: 1px rgb(0, 3, 4);
    color: rgb(79, 136, 164);
  }

  section {
    display: block;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 5%;
    text-align: justify;
  }

  li {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .resource-link {
    text-decoration: none;
    font-size: 11pt;
    color: darkorchid;
  }

  label {
    color: rgb(84, 84, 84);
  }

  .steps-for-reprod>li {
    font-weight: 600;
  }

  img {
    border-color: rgb(85, 85, 85);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 2.5px 2.5px #b0b0b0;
  }

  #php-and-mysql-pic {
    display: inline;
    border-style: none;
    float: left;
    margin-top: 0.8%;
    margin-right: 12%;
    box-shadow: none;
  }

  #aws-transparent {
    display: inline;
    border-style: none;
    float: left;
    margin-top: 0.1%;
    margin-left: 10%;
    box-shadow: none;
  }

  h3.offset,
  li.offset,
  ul.offset {
    margin-top: -200px;
    padding-top: 200px;
  }
}